.menu-lateral {
    padding-left: 3em;
    padding-top: 2em;
}


.menu-lateral a {
    text-decoration: none;
    color: #3C4858;
}

.menu-lateral a:hover {
    text-decoration: none;
    color: #0F7AE5;
    font-weight: bold;
}

.logo {
    padding-left: 1em;    
}

.logo a{
    text-decoration: none;
    color: white;    
}



.margens {
    padding-left: 2em;
    padding-right: 2em;    
}

.espaco-texto-icon {
    padding-left: 1em;
}

.conteudo {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 13px;
}

.disabled {
    background-color: transparent;
}

.icon-editar {
    color: #919496; 
    margin-right: 4em;           
}

.icon-editar :hover {
    color:black;    
}

.icon-excluir {
    color: #e54980;  
}

.icon-excluir :hover {
    color:red;    
}

.icon-liberar-acesso {
    color: #919496;    
    margin-right: 4em;         
}

.icon-liberar-acesso :hover {
    color: green;
}

.btn-add {
    background-color: #5496d8; 
    color:white"
}

.titulo-card {
    padding-top: -30px;
}

.formulario {
    margin-top: 2em;
}

.pesquisa-add-titulo {
    margin-top: -20px;
}

.color-ativo {
    color: green;
}

.color-inativo {
    color: red;
}

.color-admin {
    font-weight: bold; 
}