@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="uk-section uk-section-large">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>
            <div class="uk-width-1-3@m">
                <h2 class="uk-heading-small uk-margin-large-bottom">Welcome!</h2>
            </div>
            <div class="uk-width-expand@m uk-flex uk-flex-column">
                <div class="uk-child-width-1-3" data-uk-grid>
                    <div>
                        <a asp-action="Register" class="uk-button uk-button-default">Register</a>
                    </div>
                    <div>
                        <a asp-action="Login" class="uk-button uk-button-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
