<li>
    <a asp-action="Index" asp-controller="HomeInternal">
        <span uk-icon="home"></span>
        <span class="espaco-texto-icon">Home</span>
    </a>
</li>
<li>
    <a asp-action="Index" asp-controller="Product">
        <span uk-icon="list"></span>
        <span class="espaco-texto-icon">Products</span>
    </a>
</li>
<li>
    <a asp-action="LiberarAcesso" asp-controller="Admin">
        <span uk-icon="unlock"></span>
        <span class="espaco-texto-icon">Liberar Acesso</span>
    </a>
</li>
<li>
    <a asp-action="ListaUsuarios" asp-controller="Admin">
        <span uk-icon="users"></span>
        <span class="espaco-texto-icon">Users</span>
    </a>
</li>
