<div class="uk-card uk-card-default uk-card-body">

    <div class="pesquisa-add-titulo">
        <div class="uk-text-left" uk-grid>
            <div class="uk-width-1-2@s">
                <h3>Solicitações de Acesso</h3>
            </div>
            <div class="uk-width-1-2 uk-text-right">
                <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" onkeyup="Procurar(this.value)">
                </form>
            </div>
        </div>
    </div>

    <div class=" formulario">
        <div id="tabela-index">
            <partial name="_TabelaLiberarAcesso" />
        </div>
    </div>
</div>
